:root {
  --color-primary: #b5e18b;
  --color-secondary: #f9c132;
  --color-light-1: #f4f4f4;
  --color-light-2: #f0f0f0;
  --color-light-3: #e4e4e4;
  --color-dark: #353535;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-light-1);
}

main {
  margin: 0 14rem;
}

@media (min-width: 2000px) {
  main {
    margin: 0 30rem;
  }
}

@media (max-width: 1280px) {
  main {
    margin: 0 7rem;
  }
}

@media (max-width: 520px) {
  main {
    margin: 0 3rem;
  }
}

section {
  margin: 14rem auto 0 auto;
}

@media (max-width: 1100px) {
  section {
    margin: 10rem auto 0 auto;
  }
}

@media (max-width: 550px) {
  section {
    margin: 9rem auto 0 auto;
  }
}

h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 6rem;
}

@media (max-width: 1100px) {
  h2 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
}

@media (max-width: 550px) {
  h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 2.6rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background-color: var(--color-secondary);
  padding: 2rem 4rem;
  border-radius: 4rem;
  font-weight: 500;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 0.5rem 14rem;
  border-bottom: 1px solid var(--color-light-2);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 2000px) {
  .header {
    padding: 0.5rem 30rem;
  }
}

@media (max-width: 1280px) {
  .header {
    padding: 0.5rem 7rem;
  }
}

@media (max-width: 520px) {
  .header {
    padding: 0.5rem 3rem;
  }
}

.nav-list {
  display: flex;
}

.nav-list li:not(:last-child) {
  margin-right: 4rem;
}

.nav-link {
  font-size: 1.8rem;
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  transition: all 0.2s ease-out;
}

@media (max-width: 800px) {
  .nav-list li:not(:last-child) {
    margin-right: 2.5rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }
}

@media (max-width: 520px) {
  .nav-list li:not(:last-child) {
    margin-right: 2rem;
  }

  .nav-link {
    font-size: 1.3rem;
  }
}

.nav-link:hover {
  border-bottom: 1px solid var(--color-secondary);
}

.header__img {
  width: 120px;
  height: auto;
}

@media (max-width: 800px) {
  .header__img {
    width: 100px;
    height: auto;
  }
}

/* Hero section */
.section-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.section-hero__video {
  height: auto;
  width: 50%;
  border-radius: 2rem;
}

.section-hero__description {
  width: 50%;
}

@media (max-width: 1100px) {
  .section-hero {
    flex-direction: column;
    align-items: center;
  }

  .section-hero__video {
    width: 100%;
  }

  .section-hero__description {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-bottom: 1.5rem;
  }

  .section-hero__description .btn {
    display: none;
  }
}

.section-hero__description h1 {
  font-size: 5.5rem;
  line-height: 6rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.section-hero__description p {
  font-size: 2.6rem;
  margin-bottom: 5rem;
  font-weight: 200;
  width: 70%;
}

@media (min-width: 2100px) {
  .section-hero__description h1 {
    width: 80%;
  }

  .section-hero__description p {
    width: 60%;
  }
}

@media (max-width: 1800px) {
  .section-hero__description h1 {
    font-size: 5.4rem;
    line-height: 6rem;
    margin-bottom: 2.3rem;
  }

  .section-hero__description p {
    font-size: 2.3rem;
    font-weight: 300;
  }
}

@media (max-width: 1500px) {
  .section-hero__description h1 {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 2rem;
    width: 90%;
  }

  .section-hero__description p {
    font-size: 1.9rem;
    margin-bottom: 3rem;
    font-weight: 300;
  }

  .section-hero__description .btn {
    padding: 1.5rem 2.2rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 1100px) {
  .section-hero__description h1 {
    width: 100%;
    text-align: center;
  }

  .section-hero__description p {
    font-size: 2.1rem;
    text-align: center;
    width: 80%;
  }

  .section-hero__description .btn {
    padding: 2rem 3rem;
    font-weight: 500;
  }
}

@media (max-width: 800px) {
  .section-hero__description h1 {
    font-size: 4.2rem;
    font-weight: 400;
  }

  .section-hero__description p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
  .section-hero__description h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }

  .section-hero__description p {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    width: 90%;
  }
}

@media (max-width: 520px) {
  .section-hero__description h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

/* Features section */
.section-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section-features__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-features__group img {
  max-width: 15%;
  height: auto;
  margin-bottom: 2.5rem;
}

.section-features__group p {
  width: 62%;
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 1610px) {
  .section-features__group p {
    width: 90%;
  }
}

@media (max-width: 1280px) {
  .section-features__group h3 {
    font-size: 2.5rem;
  }

  .section-features__group p {
    font-size: 1.7rem;
  }
}

@media (max-width: 1000px) {
  .section-features {
    grid-template-columns: 1fr;
  }

  .section-features__group:not(:last-child) {
    margin-bottom: 6rem;
  }

  .section-features__group h3 {
    font-size: 3rem;
  }

  .section-features__group img {
    max-width: 10%;
  }

  .section-features__group p {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .section-features__group h3 {
    font-size: 2.5rem;
  }

  .section-features__group p {
    font-size: 1.8rem;
  }
}

/* Section cards */
.section-menu__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10rem;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .section-menu__cards {
    column-gap: 5rem;
  }
}

@media (max-width: 1100px) {
  .section-menu__cards {
    grid-template-columns: 1fr;
    row-gap: 6rem;
  }
}

.section-menu__card {
  background-color: var(--color-light-2);
  border-radius: 1rem;
  overflow: hidden;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}

@media (max-width: 1100px) {
  .section-menu__card {
    margin: 0 20rem;
  }
}

@media (max-width: 1000px) {
  .section-menu__card {
    margin: 0 10rem;
  }
}

@media (max-width: 800px) {
  .section-menu__card {
    margin: 0 2rem;
  }
}

@media (max-width: 600px) {
  .section-menu__card {
    margin: 0;
  }
}

.section-menu__card img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.section-menu__card h4 {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

@media (max-width: 600px) {
  .section-menu__card h4 {
    margin-top: 2rem;
  }
}

.section-menu__card p {
  font-size: 4rem;
  font-weight: 300;
  margin-left: 1rem;
  margin-bottom: 5rem;
}

@media (max-width: 600px) {
  .section-menu__card p {
    font-size: 3rem;
  }
}

.section-menu__card .btn {
  align-self: center;
}

@media (max-width: 600px) {
  .section-menu__card .btn {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
  }
}

/* Delivery section */
.section-delivery__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  justify-items: center;
}

@media (max-width: 1600px) {
  .section-delivery__content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
}

@media (max-width: 1000px) {
  .section-delivery__content {
    grid-template-columns: 1fr;
    row-gap: 0;
  }
}

.section-delivery__group h4 {
  font-size: 14rem;
  font-weight: 800;
  color: var(--color-secondary);
  margin-left: 3rem;
}

.section-delivery__group p {
  position: relative;
  height: 14rem;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  background-color: #b5e18b;
  padding: 2rem;
  margin-top: -8.4rem;
  border-radius: 4rem;

  display: flex;
  align-items: center;
  z-index: 99;
}

@media (max-width: 1800px) {
  .section-delivery__group p {
    font-size: 2rem;
  }
}

@media (max-width: 1600px) {
  .section-delivery__group p {
    max-width: 40rem;
  }
}

@media (max-width: 600px) {
  .section-delivery__group p {
    font-size: 1.8rem;
  }
}

/* Subscription section */
.section-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  margin: 20rem 20rem 15rem 20rem;
  padding: 3.5rem;
  border-radius: 3rem;
}

@media (max-width: 1400px) {
  .section-subscribe {
    margin: 15rem 10rem 15rem 10rem;
  }
}

@media (max-width: 1100px) {
  .section-subscribe {
    margin: 15rem 5rem 15rem 5rem;
  }
}

@media (max-width: 1100px) {
  .section-subscribe {
    margin: 15rem 0;
  }
}

@media (max-width: 1000px) {
  .section-subscribe {
    margin: 15rem 0 10rem 0;
  }
}

.section-subscribe h3 {
  text-align: center;
}

.section-subscribe p {
  font-size: 1.9rem;
  text-align: center;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

@media (max-width: 680px) {
  .section-subscribe h3 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  .section-subscribe p {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

.section-subscribe form {
  display: grid;
  grid-template-columns: 6fr 1fr;
  width: 70%;
}

@media (max-width: 1000px) {
  .section-subscribe form {
    display: grid;
    grid-template-columns: 6fr 1fr;
    width: 90%;
  }
}

@media (max-width: 720px) {
  .section-subscribe form {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
}

.section-subscribe input,
.section-subscribe button {
  font-family: inherit;
  font-size: inherit;
  border: 2px solid transparent;
  padding: 1.5rem 3rem;
  transition: all 0.2s ease-in;
}

.section-subscribe input {
  border-radius: 6rem;
}

.section-subscribe button {
  margin-left: -100%;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 720px) {
  .section-subscribe button {
    margin-left: 0;
    justify-self: center;
  }
}

.section-subscribe input:focus,
.section-subscribe button:focus {
  outline: none;
  border-color: rgba(249, 193, 50, 0.4);
}

.section-subscribe input:focus + button {
  border-top-color: rgba(249, 193, 50, 0.4);
  border-right-color: rgba(249, 193, 50, 0.4);
  border-bottom-color: rgba(249, 193, 50, 0.4);
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  padding: 5rem 7rem;
  background-color: var(--color-light-3);
}

@media (max-width: 880px) {
  .footer {
    padding: 5rem 5rem;
  }
}

/* Footer */
.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 3rem;
}

@media (max-width: 880px) {
  .footer .container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 3rem;
  }
}

.footer__group li {
  margin-bottom: 0.8rem;
}

.footer h4 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__logo {
  width: 80px;
  height: auto;
}

.footer__social img {
  width: 30px;
  height: auto;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.footer__copy {
  font-size: 1.2rem;
  margin: 1.2rem 0;
}
