:root {
  --color-primary: #b5e18b;
  --color-secondary: #f9c132;
  --color-light-1: #f4f4f4;
  --color-light-2: #e9e9e9;
  --color-dark: #3d3d3d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-light-1);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  background-color: var(--color-secondary);
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  font-weight: 600;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 0.5rem 14rem;
  border-bottom: 1px solid var(--color-light-2);
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-list li:not(:last-child) {
  margin-right: 2rem;
}

.header__img {
  display: block;
  max-width: 90px;
  height: auto;
}

/* Hero section */
.section-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 14rem;
  margin: 80px auto 0 auto;
}

.section-hero__description {
  width: 38%;
}

.section-hero__description h1 {
  font-size: 6rem;
  line-height: 6.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

/* @media (max-width: 1280px) {
  .section-hero__description h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
} */

.section-hero__description p {
  font-size: 2.8rem;
  margin-bottom: 5rem;
  font-weight: 200;
}

/* @media (max-width: 1280px) {
  .section-hero__description p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
} */

.section-hero__video {
  height: auto;
  width: 50%;
  border-radius: 2rem;
}

/* Features section */
